@{
    ViewBag.Title = "DonateIndex";
}

<h2>DonateIndex</h2>

<div class="donate_container">
    <section class="donate_Index_pg">
        <div class="donate_column" id="foody">
            <button value="Donate Food" class="btn"></button>
        </div>
        <div class="donate_column" id="clothy">
            <button value="Donate Clothing" class="btn"></button>
        </div>
        <div class="donate_column" id="medicy">
            <button value="Donate Medical Supplies" class="btn"></button>
        </div>
    </section>
</div>