
@{
    ViewData["Title"] = "DonateIndex";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <!-- Column 1 -->
    <div class="column">
        <button class="button" onclick="window.location.href='@Url.Action("Food", "Donation")'">Donate Food</button>
    </div>

    <!-- Column 2 -->
    <div class="column">
        <button class="button" onclick="window.location.href='@Url.Action("MedicalSupplies", "Donation")'">Donate Medical Supplies</button>
    </div>

    <!-- Column 3 -->
    <div class="column">
        <button class="button" onclick="window.location.href='@Url.Action("Clothing", "Donation")'">Button 3</button>
    </div>
</div>