* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



/* Donate Index and Donation Child CSS*/
.container {
    display: flex;
    width: 185vh;
    height: 130vh;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* Styling for each column */
.column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

/* Button styling */
.button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #4CAF50;
    color: lightsalmon;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .button:hover {
        background-color: #45a049;
    }